<%- include('./port/page-start', {title: title}) %>
<%- include('./port/menu') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Книжная полка</h1>
    </div>
</div>
<%- include('./port/page-end') %>
